$color-black-light: #303133;
$color-black-dark: #181819;
$color-white: #fcfcfc;
$color-gray: #808080;

$color-red: #ca5157;

$font-primary: "Noto Sans";
$font-headings: "Barlow Condensed";

$font-size-headings-small: 2rem;
$font-size-headings-medium: 2.4rem;
$font-size-headings-big: 3.5rem;

$font-size-normal: 1.2rem;
$font-size-medium: 1.5rem;
