@import "../abstracts/variables";

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__separator {
    @include headingFont;

    color: $color-black-light;
    align-self: center;
    margin: 6rem;
    font-size: $font-size-headings-big;
  }

  &__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  &__search_criteria {
    display: flex;
    align-content: center;

    &--value {
      color: $color-black-light;
      font-family: $font-primary;
      font-size: $font-size-medium;
      font-weight: 600;
      width: fit-content;
    }

    &--clear_button {
      background-color: transparent;
      border: none;

      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}
