@import "../abstracts/mixins";
@import "../abstracts/variables";

.person {
  @include basicBoxFormat;

  display: flex;
  justify-content: center;
  color: $color-black-light;
  text-decoration: none;
  width: 15vw;
  margin: 1rem;
  font-size: $font-size-normal;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}
