@import "../abstracts/mixins";
@import "../abstracts/variables";

.person_details {
  @include basicBoxFormat;

  color: $color-black-light;
  text-decoration: none;
  width: 60vw;
  margin: 10rem;

  &__friends {
    display: flex;
    flex-direction: column;

    &--friend {
      text-decoration: none;
      color: $color-black-light;

      margin-top: 1rem;
    }
  }
}
