@import "../abstracts/mixins";
@import "../abstracts/variables";

.person {
  @include basicBoxFormat;

  display: flex;
  color: $color-black-light;
  text-decoration: none;
  width: 10vw;
  margin: 1rem;
}
